# Python / Django
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3
*.log
.env
.env.local
.env.*.local
.env.prod
*.env.prod
.venv/
venv/
env/
staticfiles/

# Django
media/

# OS / editors
.DS_Store
Thumbs.db
.vscode/
.idea/
